/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/sass/not-found.module.sass ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.not-found_NotFound__t25Nk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found_NotFound__title__groCQ {
  font-size: 10rem;
  font-weight: 900;
  margin: 0;
  background-image: linear-gradient(270deg, #716A5C, #5DB7DE);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.not-found_NotFound__subtitle__iKtNz {
  font-size: 2rem;
  margin: 0;
}
.not-found_NotFound__message__s_71S {
  font-size: 1.5rem;
}
.not-found_NotFound__link__4vtSE {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  text-decoration: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(270deg, #716A5C, #5DB7DE);
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  margin-top: auto;
}
