/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/home/Description/Description.module.sass ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Description_Description__vo8Af {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.25rem;
  max-width: 1000px;
  margin: 6rem auto;
  padding: 2rem 2.5rem;
  border-radius: 1.375rem;
}
@media (max-width: 992px) {
  .Description_Description__vo8Af {
    flex-wrap: wrap;
    justify-content: center;
  }
  .Description_Description__text__ZLjef {
    text-align: center;
  }
}
.Description_Description__button__A69PL {
  background: transparent;
  border: none;
  cursor: pointer;
}
.Description_Description__button--border__12pJD img {
  border: 3px solid #5DB7DE;
}
.Description_Description__imageContainer__Muo2F {
  position: relative;
  width: 500px;
  height: 300px;
}
.Description_Description__imageContainer__Muo2F > img {
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 4rem rgba(255, 255, 255, 0.2);
}
.Description_Description__text__ZLjef > h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #F1E9DB;
  margin: 0;
}
.Description_Description__text__ZLjef > p {
  font-size: 1.5rem;
  line-height: 1.75;
  color: #fff;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/home/Hero/Hero.module.sass ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Hero_Hero__j_gDa > h1 {
  background-image: linear-gradient(270deg, #716A5C, #5DB7DE);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7rem;
  margin: 3rem 0;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
  text-align: center;
}
.Hero_Hero__j_gDa > h2 {
  font-size: 2rem;
  margin: 0 0 3rem 0;
  text-align: center;
  color: #F1E9DB;
}
