/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/shared/Loader/Loader.module.sass ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Loader_LoaderWrapper__u7dsY {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.Loader_Loader__yckLY {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.Loader_Loader__yckLY div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: Loader_loading__cQJyk 1.2s linear infinite;
}

.Loader_Loader__yckLY div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.Loader_Loader__yckLY div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.Loader_Loader__yckLY div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.Loader_Loader__yckLY div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.Loader_Loader__yckLY div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.Loader_Loader__yckLY div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.Loader_Loader__yckLY div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.Loader_Loader__yckLY div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.Loader_Loader__yckLY div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes Loader_loading__cQJyk {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
